= render partial: "header_singup"
.create_background
  .create_main
    %h2.create_title 
      会員登録完了
    .create_form
      ありがとうございます。
      %br/
      会員登録が完了しました。
    .create_actions    
      = link_to "フリマを始める", root_path, class: 'create_btn'
    .create_actions    
      = link_to "クレジットカードを登録する",  new_credit_card_path, class: 'create_btn'  