.create_background
  .create_main
    %h2.create_title 
      クレジットカード登録完了
    .create_form
      登録が完了しました。
    .create_actions    
      = link_to "マイページに戻る", user_path(current_user.id), class: 'create_btn'
       = link_to "登録カードを見る", "", class: 'create_btn'