.background
  .my-page
    = render "side_bar" 
          
    .my-page__main
      .my-page__main__user-name
        ももんが さんのマイページ

      .my-page__main__card
        = link_to 'クレジットカード 変更', '/card/new',class:"my-page__main__card__edit"