.background
  .my-page
    = render "side_bar"      
    .my-page__main
      .my-page__main__user-name
        ももんが さんのマイページ

      .my-page__main__logout
        = link_to 'ログアウト', '', class:"my-page__main__logout__next_btn"