.main-bottom
  .content
    %h2.content__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.content__summary
      今すぐ無料ダウンロード!
    .content__btn
      .content__btn--app-btn
        = link_to image_tag("icon/app-store.svg",width: 200), '#'
      .content__btn--google-btn
        = link_to image_tag("icon/google-play.svg",width: 200), '#'