.my-page__main {
   width: calc(1000px - 200px);
   &__title {
      margin: 56px 0 0 20px;
      border: 1px solid #dedede ;
      width: 750px;
      height: 50px;
      padding-left: 10px;
      line-height: 50px;
      font-weight: bold;
      opacity: 0.7;
      background-color: #f5f5f5;
   }
   &__content {
      border: #dedede solid 1px;
      margin: auto 20px 20px;
      height: 450px;
      width: 750px;
      overflow: scroll;

      
      &__field {
         padding: 20px 0 10px 20px;
         text-align: center;
         font-size: 20px;
         input {
            font-size: 30px;
         }
      }

      &__actions {
         &__btn {
         text-decoration: none;
         display: block;
         width: 400px;
         height: 50px;
         margin: 0 auto;
         background-color: #3CCACE;
         border-radius: 25px;
         color: white;
         font-size: 18px;
         text-align: center;
         line-height: 50px;
         margin-top: 20px;
         }
      }
   }
}