#streetaddress_prefecture_id{
  height: 45px;
  width: 350px;
  margin-left: 100px;
  margin-top: 5px;
  border: 1px solid rgb(194, 191, 191);
  padding-left: 5px;
}
#deliveryaddress_prefecture_id{
  height: 45px;
  width: 350px;
  margin-left: 100px;
  margin-top: 5px;
  border: 1px solid rgb(194, 191, 191);
  padding-left: 5px;
}
.optional{
  font-size:12px;
  font-weight: bold;
  color: white;
  background: #39c0c5;
  padding: 5px;
}

