.main {
  background: #f8f8f8;
  .area {
    width: 100%;
    height: 560px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    background-image: image-url('pict/bg-mainVisual-pict_pc.jpg');
    &__text {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      &__title {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      &__summary {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
      &__btn {
        display: flex;
        margin: 24px 0 0 0;
        a:first-child {
          margin-right: 10px;
        }
        .app-btn {
          width: 100%;
          vertical-align: bottom;
        }
        a {
          width: 180px;
        }
        .google-btn {
          width: 180px;
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
  .reason {
    padding: 60px 20px;
    &__title {
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
      &__title::after {
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    &__lists {
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      .list {
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__image {
          position: relative;
          margin-bottom: 20px;
          img {
            width: 100%;
            vertical-align: bottom;
          }
          .number {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
        }
        &__text {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
        }
        &__text span {
          color: #3CCACE;
        }
        &__lead {
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
    }
  }
  .middle {
    background-image: image-url('pict/bg-topMiddleDl-pict.jpg');
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    &__body {
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      &__title {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__text {
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      &__btn {
        display: flex;
        .app-btn {
          margin-right: 10px;
          width: 180px;
          cursor: pointer;
          text-decoration: underline;
        }
        .google-btn {
          width: 180px;
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
  .characteristic {
    padding: 60px 100px;
    background-color: #fff;
    &__title {
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
      &__title::after {
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    &__lists {
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      .list {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        &__image {
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
          img {
            width: 100%;
            vertical-align: bottom;
          }
        }
        &__text {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &__lead {
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }
  .pickup {
    padding: 80px 0 0;
    background-color: #f8f8f8;
    height: 100%;
    .title {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    .products {
      text-align: center;
      a {
        font-size: 24px;
        text-decoration: none;
        color: #3CCACE;
        font-weight: bold;
      }
    }
    .group__lists {
      width: 880px;
      margin: 26px auto;
      display: flex;
      justify-content: space-around;
      a {
        text-decoration: none;
        position: relative;
        display: block;
      }
      .list {
        width: 220px;
        display: inline-block;
        float: left;
        position: relative;
        a {
          background-color: #fff;
          display: block;
        }
        &--image {
          width: 220px;
          height: 150px;
          position: relative;
          overflow: hidden;
          margin: 0;
          z-index: auto;
          display: flex;
          img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            z-index: auto;
            height: 150px;
            object-fit: cover;
          }
        }
        &--detail {
          background-color: white;
          color: #333;
          padding: 16px;
          .name {
            overflow: hidden;
            line-height: 1.5;
            font-size: 16px;
            text-align: left;
          }
          .foot {
            font-size: 16px;
            ul {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .fa {
                font-size: inherit;
                -webkit-font-smoothing: antialiased;
              }
              .fa-star:before {
                content: "\f005";
              }
            }
            p {
              font-size: 10px;
              text-align: left;
            }
          }
        }
      }
    }
  }
  .pickup:last-child {
    padding-bottom: 80px;
  }
}

.exhibition-btn {
  width: 120px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  &__text {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  &__icon {
    width: 60%;
  }
  img {
    vertical-align: bottom;
  }
}

.list--image__sold{
  width: 0;
  height: 0;
  border-top: 60px solid #ea352d ;
  border-right: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid #ea352d ;
  z-index:100;
  position: absolute;
  &__inner{
    transform: rotate(-45deg);
    font-size: 25px;
    margin:-25px 0px 0px -55px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
  }
}