.category-background {
  background: #f5f5f5;
  padding: 40px 40px 24px;
}

.category-title {
    width: 700px;
    margin: 0 auto;
    border-radius: 5px 5px 0 0;
    padding: 16px 10px 8px;
    background: #3CCACE;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
  }

.category-links {
  width: 700px;
  margin: 0 auto;
  padding: 8px;
  background: white;
  &--links {
    margin: 10px;
    color: #ffb340;
    text-decoration: none;
    font-size: 14px;
    &:hover {}
  }
}

// 商品詳細ページ main と同一
  .title {
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
  }
  .products {
    text-align: center;
    a {
      font-size: 24px;
      text-decoration: none;
      color: #3CCACE;
      font-weight: bold;
    }
  }
  .group__lists {
    width: 700px;
    margin: 26px auto;
    display: flex;
    justify-content: space-around;
    a {
      text-decoration: none;
      position: relative;
      display: block;
    }
    .list {
      width: 220px;
      display: inline-block;
      float: left;
      position: relative;
      a {
        background-color: #fff;
        display: block;
      }
      &--image {
        width: 220px;
        height: 150px;
        position: relative;
        overflow: hidden;
        margin: 0;
        z-index: auto;
        display: flex;
        img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          z-index: auto;
          height: 150px;
          object-fit: cover;
        }
      }
      &--detail {
        background-color: white;
        color: #333;
        padding: 16px;
        .name {
          overflow: hidden;
          line-height: 1.5;
          font-size: 16px;
          text-align: left;
        }
        .foot {
          font-size: 16px;
          ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .fa {
              font-size: inherit;
              -webkit-font-smoothing: antialiased;
            }
            .fa-star:before {
              content: "\f005";
            }
          }
          p {
            font-size: 10px;
            text-align: left;
          }
        }
      }
    }
  }
