.background {
  background: #f5f5f5;
  padding: 40px 40px 90px 40px;
}

  .product {
    background: #fff;
    width: 700px;
    margin: 0 auto;
    padding:24px 40px 40px 40px;
    display: table;
    position:  relative;
    &__name {
      border: 1px solid #eee;
      width: 60%;
      margin: 0 0 20px 10px;
      font-size: 20px;
    }
    &__price {
      border: 1px solid #eee;
      width: 30%;
      margin: 0 0 0 10px;
      font-size: 20px;
      text-align-last: right;
    }
    &__detail {
      border: 1px solid #eee;
      width: 100%;
      margin-bottom: 20px;
      height: 5em;
    }
    &__table {
      width: 100%;
      height: 375px;
    }
    &__table th {
      width: 20%;
      background: #eee;
      font-weight: 400;
      padding: 8px;
      border: 1px solid #dedede;
      text-align: center;
    }
    &__table td {
      width: 61%;
      padding: 15px 15px;
      border: 1px solid #dedede;
    }
    &__category {
      border: 1px solid #eee;
      width: 187px;
      height: 26px;
    }
    .child_category, .grandchild_category {
      border: 1px solid #eee;
      width: 187px;
      height: 26px;
      margin-left: 38px;
    }
    &__brand, &__size {
      border: 1px solid #eee;
      width: 187px;
    }
    &__status, &__shipping-method, &__shipping-region, &__shipping-date, &__fee {
      border: 1px solid #eee;
      width: 187px;
      height: 26px;
    }
    &__btn {
      position: absolute;
      top: 102%;
      right: 160px;
      font-size: 18px;
      line-height: 48px;
      background: #3CCACE;
      border: 1px solid #3CCACE;
      color: #fff;
      width: 60%;
      font-size: 18px;
      border-radius: 100px;
      cursor: pointer;
    }
  }
  span.form-require {
    color: red;
    margin-left: 5px;
  }
  span.name_optional {
    font-size:12px;
    font-weight: bold;
    color: white;
    background: #39c0c5;
    padding: 5px;
  }


// 編集機能用

//カテゴリ編集機能
.product__category-edit, .child_category-edit, .grandchild_category-edit {
  border: 1px solid #eee;
  width: 187px;
  height: 26px;
}
.child_category-edit, .grandchild_category-edit {
  margin-left: 38px;
}

//image投稿欄のCSS
.post__drop__box__container{
  display: block;
  margin: 16px auto 0;
  display: flex;
  flex-wrap: wrap;

  //プレビュー表示欄のCSS
  .prev-content {
    display: flex;
    .preview-box {
      height: 137px;
      width: 112px;
      margin: 0 15px 10px 0;
      .upper-box {
        height: 112px;
        width: 100%;
        img{
          width: 112px;
          height: 112px;
        }
      }
      .lower-box {
        display: flex;
        text-align: center;
        // 編集ボタンが必要な場合にコメントアウトを外す
        // .update-box {
        //   color: #00b0ff;
        //   width: 100%;
        //   height: 25px;
        //   line-height: 25px;
        //   border: 1px solid #eee;
        //   background: #f5f5f5;
        //   cursor: pointer;
        // }
        .delete-box {
          color: #00b0ff;
          width: 100%;
          height: 25px;
          line-height: 25px;
          border: 1px solid #eee;
          background: #f5f5f5;
          cursor: pointer;
        }
      }
    }
  }

  //投稿クリックエリアのCSS
  .label-content{
    margin-bottom: 10px;
    width: 620px;
    .label-box {
      display: block;
      border: 1px dashed #ccc;
      position: relative;
      background: #f5f5f5;
      width: 100%;
      height: 137px;
      cursor: pointer;
      &__text-visible {
        position: absolute;
        top: 50%;
        left: 16px;
        right: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
        font-weight: bold;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        pointer-events: none;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
  }

  //file_fieldのcss
  .hidden-content {
    .hidden-field {
      display: none;
    }
    .hidden-checkbox {
      display: none;
    }
  }
}