.wrapper {
  width: 100%;
  background-color: #f8f8f8;
  .show-item {
    width: 750px;
    background-color: white;
    margin: 0 auto;
    font-size: 14px;
    &__name {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      padding: 20px 0;
    }
    &__image {
      width: 600px;
      margin: 0 auto;
      padding-bottom: 5px;
        .image_label {
        }

    #\0030 {
        width: 500px;
        margin-left: 50px;
      }
    &__main {
      width: 130px;
      margin: 5px 8px;
    }
    }
    &__image-list {
      display: flex;
      margin: 0 auto;
      width: 470px;
      li {
        margin-right: 10px;
      }
    }
    &__price-box {
      text-align: center;
      margin-top: 10px;
      &__price {
        font-size: 44px;
        font-weight: bold;
      }
      &__tax {
        font-size: 14px;
        margin-bottom: 30px;
      }
    }
    &__item-text {
      margin: 10px 50PX;
      font-size: 18px;
      min-height: 80px;
      margin-top: 20px;
      border:1px solid #dedede;
    }
    &__table {
      width: 650px;
      margin: 30px auto 30px;
      tr{
        min-height: 40px;
      }
      th{
        border:1px solid #dedede;
        width: 155px;
        padding: 15px;
        background-color: #eee;
      }
      td{
        border:1px solid #dedede;
        width: 465px;
        padding: 15px;
      }
      a {
        text-decoration: none;
        color: #3CCACE;
      }
    }
    &__good-box {
      width: 650px;
      margin: 0 auto;
      padding-bottom: 40px;
      display: flex;
      justify-content: space-between;
      &__favorite-btn {
        width: 140px;
        height: 35px;
        border-radius: 30px;
        border: 2px solid gold;
        color: #3CCACE;
        font-size: 15px;
        background-color: white;
        text-align: center;
        line-height: 35px;
        display: inline-block;
      }
      &__alert-btn{
        width: 170px;
        height: 35px;
        font-size: 15px;
        text-align: center;
        line-height: 35px;
        border: 1px solid black;
        display: inline-block;
      }
    }
  }
  .edit_delete {
    margin: 20px auto;
    width: 750px;
    background: #fff;
    border:1px solid #dedede;
    padding: 8px 16px 8px 16px;
    text-align: center;
    
      .text-center {
        text-align: center;
      }

    .btn-default {
      width: 400px;
      height: 50px;
      margin: 10px 0;
      background-color: #3CCACE;
      border-radius: 25px;
      color: white;
      font-size: 18px;
      border: none;
    }
  }

  .comment {
    width: 750px;
    height: 300px;
    background-color: white;
    margin: 10px auto 0;
    &__form {
      margin: 25px 25px 10px;
      width: 700px;
      height: 7em;
      display: inline-block;
    }
    &__caution {
      margin: 0px 25px 15px;
      width: 700px;
      background-color: #f8f8f8;
      font-size: 14px;
    }
    &__btn {
      width: 400px;
      height: 50px;
      margin: 0 auto;
      background-color: #3CCACE;
      border-radius: 25px;
      color: white;
      font-size: 18px;
      text-align: center;
      line-height: 50px;
      margin-top: 25px;
    }
    .commentBtn{
      display: block;
      margin: 0 auto;
      border: 2px solid #3CCACE;
    }
  }
  .links {
    width: 750px;
    margin: 10px auto 0;
    color: #3CCACE;
    ul {
      display: flex;
      justify-content: space-between;
      padding-bottom: 30px;
    }
    .fas {
      font-size: 10px;
    }
    .category-link {
      font-size: 20px;
      font-weight: bold;
    }
  }
}

.buy_btn{
  text-align: center;
  display: block;
  text-decoration: none;
  margin-left: 150px;
  top: 102%;
  right: 160px;
  font-size: 18px;
  line-height: 48px;
  background: #3CCACE;
  border: 1px solid #3CCACE;
  color: #fff;
  width: 60%;
  font-size: 18px;
  border-radius: 100px;
  cursor: pointer;
  .buy_btn:hover{
    background: #39c0c5;
    border: 1px solid #33a9ad;
  }
  .buy_btn:active{
    background: #33a9ad;
    border: 1px solid #39c0c5;
  }
}