.wrapper-show {
  padding-top: 40px;
  width: 100%;
  background-color: #f8f8f8;
  .show-item {
    width: 750px;
    background-color: white;
    margin: 0 auto;
    font-size: 14px;
    &__name {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      padding: 20px 0;
    }
    &__image {
      width: 600px;
      margin: 0 auto;
      padding-bottom: 5px;
      &__main {
        width: 100%;
      }
    }
    &__image-list {
      display: flex;
      margin: 0 auto;
      width: 470px;
      li {
        margin-right: 10px;
      }
    }
    &__price-box {
      text-align: center;
      margin-top: 10px;
      &__price {
        font-size: 44px;
        font-weight: bold;
      }
      &__tax {
        font-size: 14px;
        margin-bottom: 20px;
      }
    }
    &__item-text {
      margin: 30px 50PX;
      font-size: 18px;
      min-height: 80px;
    }
    &__table {
      width: 650px;
      margin: 30px auto 30px;
      tr{
        min-height: 40px;
      }
      th{
        border:1px solid #dedede;
        width: 165px;
        padding: 15px;
        background-color: #eee;
      }
      td{
        border:1px solid #dedede;
        width: 485px;
        padding: 15px;
      }
      a {
        text-decoration: none;
        color: #3CCACE;
      }
    }
    &__good-box {
      width: 650px;
      margin: 0 auto;
      padding-bottom: 40px;
      display: flex;
      justify-content: space-between;
      &__favorite-btn {
        width: 180px;
        height: 35px;
        border-radius: 30px;
        border: 2px solid gold;   
        font-size: 15px;
        background-color: white;
        text-align: center;
        line-height: 35px;
        display: inline-block;     
        a {
          color: #0fdee6;
          text-decoration: none;
        } 
        .want {
          color: #fa6b0c;
        }
      }
      &__alert-btn{
        width: 170px;
        height: 35px;
        font-size: 15px;
        text-align: center;
        line-height: 35px;
        border: 1px solid black;
        display: inline-block;
      }
    }
  }
  .comment {
    width: 750px;
    background-color: white;
    margin: 10px auto 0;
    padding-bottom: 40px;
    .comment_list {
      padding: 15px 25px 0px 25px;
      .comment_Me {
        margin: 10px 0 25px 0;
        padding: 10px 10px 30px 15px;
        background-color: #e5f3f3;
        border-radius: 5px;
        position: relative;
        a {
          text-decoration: none;
          color: red;
        }
        .comment_content {
          .comment_create_at {
            margin-top: 15px;
            position: absolute;
            bottom: 5px;
            left: 15px;
            color: gray;
          }
          .comment_delete {
            padding-top: 15px;
          }
        }
        .comment_user_name {
          display: flex;
          float: right;
          margin-right: 5px;
          .seller_display {
            margin-left: 15px;
            display: block;
          }
        }
      }
    }
    &__form {
      margin: 25px 25px 10px;
      width: 700px;
      height: 7em;
      display: inline-block;
    }
    &__caution {
      margin: 0px 25px 15px;
      width: 700px;
      background-color: #f8f8f8;
      font-size: 14px;
    }
    &__btn {
      width: 400px;
      height: 50px;
      margin: 0 auto;
      background-color: #3CCACE;
      border-radius: 25px;
      color: white;
      font-size: 18px;
      text-align: center;
      line-height: 50px;
      margin-top: 25px;
    }
    .commentBtn{
      display: block;
      margin: 0 auto;
      border: 2px solid white;
    }
  }
  .links {
    width: 750px;
    margin: 10px auto 0;
    color: #3CCACE;
    ul {
      display: flex;
      justify-content: space-between;
      padding-bottom: 30px;
    }
    .fas {
      font-size: 10px;
    }
    .category-link {
      font-size: 20px;
      font-weight: bold;
    }
  }
}

.buy_btn{
  text-align: center;
  display: block;
  text-decoration: none;
  margin-left: 150px;
  top: 102%;
  right: 160px;
  font-size: 18px;
  line-height: 48px;
  background: #3CCACE;
  border: 2px solid white;
  color: #fff;
  width: 60%;
  font-size: 18px;
  border-radius: 100px;
  cursor: pointer;
  .buy_btn:hover{
    background: #39c0c5;
    border: 1px solid #33a9ad;
  }
  .buy_btn:active{
    background: #33a9ad;
    border: 1px solid #39c0c5;
  }
}

.btn {
  text-decoration: none;
  display: block;
  width: 400px;
  height: 50px;
  margin: 0 auto;
  background-color: #3CCACE;
  border-radius: 25px;
  color: white;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  margin-top: 5px;
}

.delete-btn {
  margin-top: 15px;
}

#selled-btn {
  margin-bottom: 15px;
  background-color: red;
}