.wrapper
  =render 'home/header'
  =render 'home/main'
  =render 'home/main-bottom'
  =render 'home/footer'
= link_to new_product_path do
  .exhibition-btn
    %span.exhibition-btn__text 出品する
    = image_tag('icon/icon_camera.png', class:'exhibition-btn__icon')