
      

 .my-page__main__logout{
  background-color: white;
  border: #dedede solid 1px;
  margin: 20px auto 75px;
  height: 150px;
  width: 750px;

  &__next_btn {
    display: block;
    margin: 50px auto;
    text-align: center;
    text-decoration: none;
    top: 102%;
    right: 160px;
    font-size: 18px;
    line-height: 48px;
    background: #3CCACE;
    border: 1px solid #3CCACE;
    color: #fff;
    width: 60%;
    font-size: 18px;
    border-radius: 100px;
    cursor: pointer;

    .next_btn:hover {
      background: #39C0C5;
      border: 1px solid #33A9AD;
    }
    
    .next_btn:active {
      background: #33A9AD;
      border: 1px solid #39C0C5;
    }
  }
}
