.profile{
  background-color:rgb(243, 243, 243);
  margin:50px auto;
  padding:50px;
  border:1px solid #dedede;
  width: 500px;
}
.profile_th,.profile_td{
  padding: 30px 40px 20px;
  border: 1px solid #dedede;
}

.edit_btn{
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 0 auto 15px;
  top: 102%;
  right: 160px;
  font-size: 18px;
  line-height: 48px;
  background: #3CCACE;
  border: 1px solid #3CCACE;
  color: #fff;
  width: 60%;
  font-size: 18px;
  border-radius: 100px;
  cursor: pointer;
  .edit_btn:hover {
    background: #39c0c5;
    border: 1px solid #33a9ad;
  }
  .edit_btn:active {
    background: #46e3e9;
    border: 1px solid #39c0c5;
  }
}