
.background {
  background-color: #f5f5f5;
  width: 100vw;

  .my-page {
    background-color: white;
    width: 1000px;
    margin: auto;
    display: flex;

    &__side {
      width: 200px;
      display: grid;
      margin-left: 30px;

      &__content {
        text-align: center;
        position: relative;  


        &__title {
          font-size: 18px;
          padding: 15px 0px;
        }

        li {
          height: 50px;
          padding: 10px 0px;
          border: #dedede solid 1px;
          line-height: 30px;
        }

        &__menu {   
          background-color: #eee;
          a {
            text-decoration: none;
            color: black;
            opacity: 0.7;
          }
        }
      }
    }

    &__main {
      width: 100%;

      &__user-name {
        margin: 15px 20px 12px;
        font-weight: bold;
        font-size: 20px;
        opacity: 0.7;
        height: 30px;
        width: 700px;
      }

      &__content {
        background-color: white;
        border: #dedede solid 1px;
        margin: auto 20px 20px;
        height: 450px;
        width: 750px;
        overflow: scroll;
        
        &__title {
          margin-left:20px;
          border: 1px solid #dedede ;
          width: 750px;
          height: 50px;
          padding-left: 10px;
          line-height: 50px;
          font-weight: bold;
          opacity: 0.7;
          background-color: #f5f5f5;
          // position: fixed;
        }

        &__boxes {
          display: inline-block;
          padding: 35px;
    
        }
      }
    }
  }
}

.none_product{
  text-align: center;
  line-height:450px;
  color:rgb(124, 124, 124);
}

.list {
  width: 220px;
  display: inline-block;
  position: relative;
  a {
    text-decoration: none;
    background-color: rgb(216, 215, 215);
    display: block;
  }
  &--image {
    width: 220px;
    height: 150px;
    position: relative;
    overflow: hidden;
    margin: 0;
    display: flex;
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 150px;
      object-fit: cover;
    }
  }
  &--detail {
    background-color: rgb(235, 235, 235);
    color: #333;
    padding: 16px;
    .name {
      overflow: hidden;
      line-height: 1.5;
      font-size: 16px;
      text-align: left;
    }
    .foot {
      font-size: 16px;
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .fa {
          font-size: inherit;
          -webkit-font-smoothing: antialiased;
        }
        .fa-star:before {
          color: gold;
          content: "\f005" ;     
          
        }
       
      }
      p {
        font-size: 10px;
        text-align: left;
      }
    }
  }
}