* {
  box-sizing: border-box;
}

.background {
  background-color: #f5f5f5;
  width: 100vw;

  .my-page {
    background-color: white;
    width: 1000px;
    margin: auto;
    padding-bottom: 50px;
    display: flex;

    &__side {
      width: 200px;
      // display: grid;
      margin-left: 30px;
      
      &__content {
        
        text-align: center;
        position: relative;
        &__title {
          font-size: 18px;
          padding: 15px 0px;
        }

        li {
          height: 50px;
          padding: 10px 0px;
          border: #dedede solid 1px;
          line-height: 30px;
        }

        &__menu {   
          background-color: #eee;
          a {
            text-decoration: none;
            color: black;
            opacity: 0.7;
          }
        }
      }
    }

    &__card {
      height: 100%;
      width: 100%;

      &__user-name {
        margin: 30px auto 0;
        font-weight: bold;
        font-size: 20px;
        opacity: 0.7;
        height: 30px;
        width: 700px;

      }

      &__new {
        background-color: white;
        border: #dedede solid 1px;
        margin: 20px auto 75px;
        width: 700px;

        &__title {
          height: 50px;
          padding-left: 10px;
          line-height: 50px;
          font-weight: bold;
          text-align: center;
          opacity: 0.7;
          background-color: #f5f5f5;
        }
        
        &__box {
          width: 700px;
          &__format {
            width: 500px;
            margin: 0 auto;

            &__number {
              padding-top: 20px;
              height: 125px;

              &__default {
                width: 100%;
                height: 50px;
                bottom: 0px;
              }
            }

            &__group {
              #exp_month{
                width: 180px;
                height: 40px;
              }
        
              #exp_year{
                width: 180px;
                height: 40px;
              }
            }

            &__security {
              padding-top: 20px;
              height: 125px;

              &__code {
                width: 100%;
                height: 50px;
                bottom: 0px;
              }
            }

            &__fom {
              height: 125px;
              text-align: center;
              padding-top: 35px;

              &__btn {
                display: block;
                margin: 0px auto;
                text-decoration: none;
                top: 102%;
                right: 160px;
                font-size: 18px;
                line-height: 48px;
                background: #3CCACE;
                border: 1px solid #3CCACE;
                color: #fff;
                width: 60%;
                font-size: 18px;
                border-radius: 100px;
                cursor: pointer;

                .next_btn:hover {
                  background: #39C0C5;
                  border: 1px solid #33A9AD;
                }
                
                .next_btn:active {
                  background: #33A9AD;
                  border: 1px solid #39C0C5;
                }
              }
            }
          }
        }
      }
    }
  }
}
.card_image{
  text-align: center;
}
.visa,.master,.jcb,.amex,.diners,.discover{
  width: 69px;
  height: 46px;
  padding:5px 5px;
}