.show{
  margin: 60px auto;
  width: 450px;
  .show__frame__title{
    text-align: center;
    font-weight: bold;
    font-size:25px;
    color: rgb(85, 84, 84);
    border-bottom: 1px solid rgb(218, 218, 218);
  }
  .credit_card_info{
    display: flex;
    margin:20px;
    &__numbers{
      margin: 10px auto;
      color: rgb(85, 84, 84);
      .number{
        width: 200px;
        padding-bottom: 5px;
        margin-bottom: 15px;
        border-bottom: 1px solid rgb(218, 218, 218);
      }
      .expiration_date{
        width: 200px;
        padding-bottom: 5px;
        border-bottom: 1px solid rgb(218, 218, 218);
        &__info{
          margin-left: 65px;
        }
      }
    } 
  }
  .destroy__function__link__btn{
    display: block;
    text-align: center;
    margin: 0px auto;
    text-decoration: none;
    top: 102%;
    right: 160px;
    font-size: 18px;
    line-height: 48px;
    background: #3CCACE;
    border: 1px solid #3CCACE;
    color: #fff;
    width: 60%;
    font-size: 18px;
    border-radius: 100px;
    cursor: pointer;

    .destroy__function__link__btn:hover {
      background: #39C0C5;
      border: 1px solid #33A9AD;
    }
    .destroy__function__link__btn:hover:active {
      background: #33A9AD;
      border: 1px solid #39C0C5;
    }

  }

}